.custom-navbar{

    background:rgba(11,15,25,.9);

    backdrop-filter:blur(16px);

    padding:18px 0;

    transition:.3s;

}

.navbar-brand{

    font-size:26px;

    font-weight:700;

}

.nav-link{

    color:white!important;

    margin-left:24px;

    transition:.3s;

}

.nav-link:hover{

    color:var(--primary)!important;

}