<div class="project-card">

    <!-- Top -->
    <div class="project-top">

        <div class="project-icon">
            <i class="{{ project.icon }}"></i>
        </div>

        <span class="live-badge">
            {{ project.status }}
        </span>

    </div>

    <!-- Title -->
    <h3 class="project-title">
        {{ project.title }}
    </h3>

    <!-- Description -->
    <p class="project-description">
        {{ project.description }}
    </p>

    <!-- Highlight -->
    <div class="project-featured">

        <i class="bi bi-stars"></i>

        {{ project.featured }}

    </div>

    <!-- Tech Stack -->
    <div class="project-tech">

        {% for tag in project.tags %}

        <span>{{ tag }}</span>

        {% endfor %}

    </div>

    <!-- Buttons -->
<!-- Buttons -->
<div class="project-buttons">

    <a href="{{ project.live }}"
       target="_blank"
       rel="noopener noreferrer"
       class="btn-project">

        Live Demo

        <i class="bi bi-arrow-right"></i>

    </a>

    <a href="{{ project.github }}"
       target="_blank"
       rel="noopener noreferrer"
       class="btn-github">

        <i class="bi bi-github"></i>

    </a>

</div>

<!-- View Details -->
<a href="{{ url_for('project_detail', slug=project.slug) }}"
   class="project-details">

    View Details

    <i class="bi bi-arrow-right"></i>

</a>
</div>