<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>Dharmendra Yadav | AI Engineer</title>

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet">

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      rel="stylesheet">

<!-- Google Fonts -->
<link rel="preconnect"
      href="https://fonts.googleapis.com">

<link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500;600;700&display=swap"
      rel="stylesheet">

<!-- Global CSS -->
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}">

<!-- Sections -->
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/landing.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/stats.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/ai_lab.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/project_detail.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/experience.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/skills.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/blogs.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/contact.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/footer.css') }}">

<!-- Animations -->
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/animations.css') }}">

<!-- Responsive (Always Last) -->
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/responsive.css') }}">