<nav class="navbar navbar-expand-lg custom-navbar fixed-top">

    <div class="container">

        <!-- Logo -->

        <a class="navbar-brand logo" href="/">

            <span class="logo-gradient">DY</span>

        </a>

        <!-- Mobile Button -->

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarMenu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- Menu -->

        <div class="collapse navbar-collapse"
             id="navbarMenu">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">

                    <a class="nav-link {% if active_page=='home' %}active{% endif %}"
                       href="/">

                        Home

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="#ai-lab">

                        AI Lab

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="#experience">

                        Experience

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/blogs">

                        Blogs

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/contact">

                        Contact

                    </a>

                </li>

                <li class="nav-item ms-lg-4">

                    <a href="{{ url_for('static',
                    filename='resume/resume.pdf') }}"

                       target="_blank"

                       class="btn btn-ai">

                        Resume

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>